/* You can add global styles to this file, and also import other style files */
@import "phosphor-icons/src/css/icons.css";

html,
body {
  height: 100%;
  background-color: #989494;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
